body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

div#container {  
    background-color: #000; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#inner-container {
    display: flex;
    flex-direction: column;

}

p#author {
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 13px;
}

span#author-name {
    color:blue;
}

a#icon {
    width: 22px;
    cursor: pointer;
    align-self: center;
    
}

div#author-box {
    display: flex;
    justify-content: space-between;
}

